# Copy this to .env and fill in your values
# On Windows, set these as System Environment Variables
# or use a tool like python-dotenv

SOURCE_DB_HOST=terraform-20211004142120142900000001.c3tn6ij7x0be.sa-east-1.rds.amazonaws.com
SOURCE_DB_USER=your_source_user
SOURCE_DB_PASSWORD=your_source_password

TARGET_DB_HOST=seduc.cluster-c4irymq85uhb.sa-east-1.rds.amazonaws.com
TARGET_DB_USER=your_target_user
TARGET_DB_PASSWORD=your_target_password
